.message-container {
    display: flex;
    justify-content: flex-start;
    min-height: 50px;
    margin: 10px 15px;
    background-color: green;
}

.message-container .name {
    font-size: .65em;
    margin-top: 5px;
    text-align: right;
}

.message-container .message{
    border-radius: 5px;
    border-top-left-radius: 0;
    box-sizing: border-box;	
    height:100%;
    padding: 10px 15px;
    position: relative;
}

.message-container.right {
    text-align: right;
    justify-content: flex-end;
    background-color: blue;
}

.message-container.right .name {
    display: none;
}

.message-container.right .message {
    border-top-right-radius: 0;
    border-top-left-radius: 5px;
}