.button-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
    min-width: 15%;
    white-space: nowrap;
}

.input-container {
    flex-grow: 1;
    margin-right: 10px;
}

.text-form {
    display: flex;
    /*padding-top: 20px;*/
    padding-bottom: 5px;
}

.text-input{
    margin-bottom: 0;
}
