.chat-title{
    font-size: 1.1rem!important;
    margin-right: auto!important;
}
.navbar-toggler{
    font-size: 1.2rem!important;
}
.chat-link{
    font-size: 1.25rem!important;
    margin-right: 10px;
    margin-bottom: 2px;
}

.tooltip{
    display: fixed!important;
}